<!DOCTYPE html>
<html lang="en">

<head>
    <title>Leaderboard</title>
</head>

<body>
    <h1>Memory Game</h1>

    <h2>Leaderboard</h2>
    <table id="leaderboard">
        <tr>
            <th>Name</th>
            <th>Admin No</th>
            <th>Time</th>
        </tr>
        {% for row in leaderboard %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
        <!-- leaderboard rows go here -->

    </table>

    <a href="{{ url_for('myGame') }}">START GAME</a>
</body>

</html>
