<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='game-styles.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap" rel="stylesheet">
    <title>memory cards</title>
</head>

<body>
    <p id="timer">Time remaining: 60 seconds</p>

    <div id="game-board">
        {% for card in cards %}
        <div class="card" data-match="{{ card.match }}" data-text="{{ card.title }}" onclick="flipCard(this)">
            <div class="card-inner">
                <div class="card-back">
                    <h1 style="font-size: 75px;text-align: center;">🇸🇬</h1>
                </div>
                <div class="card-front">
                    <img src="{{ url_for('static', filename=card.image) }}" alt="{{ card.title }}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <script src="{{url_for('static', filename='gameLogic.js')}}"></script>
    
</body>
</html>