<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memory cards</title>
</head>

<style>
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f3f3; /* any color you like */
    margin: 0;
    padding: 0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80vw;
}

.card {
    background-color: #ddd; /* any color you like */
    height: 0;
    padding-top: 100%; /* keep the aspect ratio to 1:1 */
    position: relative; 
}

</style>

<body>
    <div id="game-board">
        {% for card in cards %}
        <div class="card" data-text="{{ card.text }}">
            <img src="{{ card.img_url }}" alt="{{ card.text }}">
            <p>{{ card.text }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>